{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="history">
    <h1 class="historyh1"> About </h1>
    <div class="aboutimg">
        <img src="{% static 'assets/pavan.JPG' %}" alt="Pavan Sesha Sai Kasukurti" class="img-responsive" width="800" height="500">
    </div>
    <p style="font-size: 18px;">
        Hey there! I'm Pavan, and I'm neck-deep in my Master's in Computer Science right now. Honestly? I'm loving
        every minute of it. There's something about diving into code and cracking tough problems that just lights me
        up inside. I mean, tech is changing the world at lightning speed, and I want to be right in the middle of
        that excitement!
    </p>
    <p style="font-size: 18px;">
        Speaking of excitement, get this - I actually won the NASA Space Settlement Contest! Can you believe it? Me,
        walking through NASA headquarters... talk about a "pinch me" moment! It's wild to think that my ideas could
        someday help shape how we live in space.
    </p>
    <p style="font-size: 18px;">
        But life's not all algorithms and spaceships (though that would be pretty cool). When I need to recharge,
        you'll find me busting out some Bollywood dance moves or whipping up a mean curry in the kitchen. It's my
        way of staying connected to my roots, you know? And when I really need to blow off steam, I jump into a few
        rounds of Valorant with my buddies. Nothing like some virtual mayhem to clear your head!
    </p>
    <p style="font-size: 18px;">
        On campus, I've taken on the role of Resident Advisor at Estom Jamani Hall. It's been eye-opening, to say
        the least. Helping other students navigate college life, building a sense of community... it's challenging,
        but man, is it rewarding.
    </p>
    </p>

</div>
{% endblock %}  
