{% extends 'base.html' %}
{% block content %}
    <div class="history">
        <p>
            <h1 class="historyh1"> History </h1>
            Chess is a game for two people. You play on a board with 64 squares, black and white. Each player has 16
            pieces
            to move around.
            The most important piece is the king. Your job is to trap the other player's king. When you do this, you
            win! We
            call this "checkmate."
            Chess is very old. It started in India a long time ago with a different name called chaturanga. As people
            traveled, the game spread to other places. The rules changed a bit over time.
            Today, people play chess all over the world. You might see them playing in quiet game rooms or in noisy
            parks.
            It's fun because you have to think hard and plan your moves.
            When you finally win by trapping the other king, it feels really good!
        </p>
    </div>
{% endblock %}

