{% extends 'base.html' %}
{% block content %}
<div class="history">
    <p>
        <h1 class="historyh1"> Rules </h1>
        Each chess piece moves in its own special way. This makes the game all about thinking ahead.
        You need to guess what your friend might do next. Then, you try to make smart moves to win.
        It's like a puzzle that changes every time someone moves a piece.
        Chess can be hard when you start. But once you learn how the pieces move, it gets fun.
        The more you play, the better you get. Winning a game feels really good!
    </p>
    
    <hr>

    <h2>Chess Pieces</h2>
    <ul style="font-size: 18px; list-style-type: none;">
        <li>♙ <strong>Pawn:</strong> These little guys can only move forward one square at a time. But on their first
            move, they can go two squares if you want. They capture other pieces by moving diagonally one square.</li>
        <li>♖ <strong>Rook:</strong> Looks like a castle tower. It moves in straight lines - left, right, up, or down.
            It can go as far as you want until it hits another piece or the edge.</li>
        <li>♘ <strong>Knight:</strong> This horse-shaped piece moves in an L-shape. It goes two squares in one
            direction, then one square to the side. It's the only piece that can jump over others.</li>
        <li>♗ <strong>Bishop:</strong> This pointy piece moves diagonally in any direction. It can go as far as you want
            until it hits something.</li>
        <li>♕ <strong>Queen:</strong> The most powerful piece. She can move in any straight line - right, left, up,
            down, or diagonally. She can go as far as you want in any of these directions.</li>
        <li>♔ <strong>King:</strong> The most important piece, but not very strong. He can only move one square in any
            direction - left, right, up, down, or diagonally.</li>
    </ul>
    <hr>

    </div>
    {% endblock %}
